body {
    background-color: #f3f4f6;
/*    color: #2c5c48;*/
}
/*a {
    color: #bdcc62;
}*/
h2 {
   color: #d15454; 
}

th:first-letter{
    text-transform: uppercase;
}

.search-form {
/*    background-color: #fff;*/
/*    overflow: hidden; obrezaet vsplyvajuschie okna
/*    padding: 20px; */
}
.page {
    background-color: #fff;
/*    overflow: hidden;*/
    padding: 30px 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table-bordered th {
    color: #d15454;
}

.table-bordered a {
    text-decoration: none;
}

.top-links {
    margin-bottom: 20px;
}

.top-links a {
    text-decoration: none;
}

.top-links a:hover {
  text-decoration: underline;
}

label {
    font-weight: bold;
}

.field-name {
    padding-right: 5px;
}

/*.field-name {
  font-size: calc(1.26rem + 0.12vw);
}
@media (min-width: 1200px) {
  .field-name {
    font-size: 1.35rem;
  }
} */ 
.field-value {
    font-weight: bold;
}

.form-group .select2-container .select2-selection--single {
    height: 36px;
    border-color: #ced4da;
    box-shadow: 0 0 10px rgba(0,0,0,.075);
}

.form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0.25rem 0.9rem;
}

.call-add {
  color: #337ab7;
  cursor: pointer;
}

.modal-header .close {
  margin-top: -2px;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.modal-footer .cancel {
  color: #000;
  background-color: #ced4da;
  border-color: #ced4da;
}

.user-enter {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.user-enter-add {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.user-enter-add label {
    font-weight: normal;
}

.reset_password {
    color: rgba(0, 0, 0, 0.55);
    line-height: 18px;
    text-decoration: none;
}

.remember_me label {
    color: rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

.important {
    color: #337ab7;
    font-weight: bold;
    font-size: 18px;
}

.dropdown-item {
    white-space: normal;
}

.compact-field {
    padding: 5px;
}

.special-symbols-link {
    color: #d15454;
    cursor: pointer;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 5px;
    text-align:right;
    top: 0;
    /*width: 300px;*/
}

 
.special-symbols {
    background: #fff;
    border: 1px solid #337ab7;
    display: none;
    height: 120px;
    position: absolute;
    right: 0;
    top: 32px;
    bottom: 36px;
    width: 280px;
    z-index: 999;
}

.special-symbol-b {
    overflow: hidden;
    height: 20px;
    width: 30px;
    margin: 0;
    border: 1px solid rgba(128,128,128,.13);
    padding: 2px 0;
    border-radius: 0;
    background: none;
    line-height: 19px;
} 

.special-symbol-sup {
    font-size: 8px;
    margin-right: 20px;
    padding: 0 5px 7px 10px;
}

.special-symbols-header {
    background: #337ab7;
    height: 25px;
    position: relative;
}

.special-symbols-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 10px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.special-symbols-body {
    padding: 2px;
}

.flex-hor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-hor-group .form-group {
    margin-bottom: 5px;
}

.footer {
    padding: 35px 0 20px;
    text-align: center;
}

.btn-primary {
    background-color: #d15454;
    border-color: #d15454;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #d15454;
    border-color: #d15454;
}

.btn-secondary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #d15454;
  border-color: #d15454;
}

.col-compact {
    padding-left: 1px;
    padding-right: 1px;
}

.row .col-compact:first-child {
    padding-left: 15px;
}

.row .col-compact:last-child {
    padding-right: 15px;
}

.col-compact .form-control {
    padding-left: 0.4rem;
    padding-right: 0.3rem;
}

.page .leaflet-popup-content {
    font-size: 1.5rem;
}

.clickable {
    cursor: pointer;
}