@import url(head.css);
@import url(navigation.css);
@import url(forms.css);
@import url(buttons.css);
@import url(tables.css);
@import url(footer.css);

body {
    background-color: #fff;
    color: #194230;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 150%;
    font-family: Roboto;
}

.container {
    position: relative;
}

h1 {
    color: #c8423f;
    font-size: 34px;
    font-weight: bold;
    margin: 30px auto 20px;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 40px;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: bold; 
    margin-top: 30px;
}

a {
    color: #194230;
    text-decoration: underline;
}

a:focus, 
a:hover {
    color: #00402b;
}

.imp {
    background: #a5ad77;
    color: #fff;
}

.imp a,
.imp a:focus, 
.imp a:hover {
    color: #fff;
    text-decoration: underline;
}

.blank {
    box-shadow: 0px 1px 16px 0px rgba(74, 97, 147, 0.35); 
    padding: 40px 50px 50px;
    margin-bottom: 70px;
}

.wide-b {
    padding: 0 2%;
}

.modal-header .close {
  margin-top: -2px;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.modal-footer .cancel {
  color: #000;
  background-color: #ced4da;
  border-color: #ced4da;
}

.important {
    color: #c8423f;
    font-weight: bold;
}

.big {
    font-size: 24px;
}

.compact-field {
    padding: 5px;
}

.flex-hor-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-hor-group .form-group {
    margin-bottom: 5px;
}

.col-compact {
    padding-left: 1px;
    padding-right: 1px;
}

.row .col-compact:first-child {
    padding-left: 15px;
}

.row .col-compact:last-child {
    padding-right: 15px;
}

.col-compact .form-control {
    padding-left: 0.4rem;
    padding-right: 0.3rem;
}

.clickable {
    cursor: pointer;
}

.bar {
    background-color: #bcc6bd;
    height: 7px;
    margin: 20px auto;
    width: 175px;
}

.b-buttons {
    text-align: right;
    padding-bottom: 8px;
}

.table-block h2 {
    background-color: #194230;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 12px 40px 10px;
}

.table-block a {
    color: #c8423f;
}

.table-block nav {
    text-align: center;
}

.up-first::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {    
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
        margin: 35px auto 25px;
        max-width: 500px;
    }
}

@media screen and (min-width: 1200px) {    
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 55px;
        margin: 40px auto;
        max-width: 700px;
    }
    .bar {
        width: 200px;
    }
}
