#start-header {
    background: #d4def4 url(../images/bg_start.jpg) center bottom no-repeat;
    height: 610px;
    padding-top: 35px;
    position: relative;
    text-align: center;
}

#start-logo {
}

